(
space,
nbspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
spacer.afrc,
.notdef,
.null,
"ka-myanmar",
"kha-myanmar",
"ga-myanmar",
"gha-myanmar",
"nga-myanmar",
"ca-myanmar",
"cha-myanmar",
"ja-myanmar",
"jha-myanmar",
"nya-myanmar",
"nnya-myanmar",
"tta-myanmar",
"ttha-myanmar",
"dda-myanmar",
"ddha-myanmar",
"nna-myanmar",
"ta-myanmar",
"tha-myanmar",
"da-myanmar",
"dha-myanmar",
"na-myanmar",
"pa-myanmar",
"pha-myanmar",
"ba-myanmar",
"bha-myanmar",
"ma-myanmar",
"ya-myanmar",
"ra-myanmar",
"la-myanmar",
"wa-myanmar",
"sa-myanmar",
"sha-myanmar",
"ha-myanmar",
"ssa-myanmar",
"lla-myanmar",
"a-myanmar",
"i-myanmar",
"ii-myanmar",
"u-myanmar",
"uu-myanmar",
"e-myanmar",
"o-myanmar",
"au-myanmar",
"aaTall-myanmar",
"aa-myanmar",
"eSign-myanmar",
"visarga-myanmar",
"raMedial-myanmar",
"saGreat-myanmar",
"rVocalic-myanmar",
"rrVocalic-myanmar",
"lVocalic-myanmar",
"llVocalic-myanmar",
"cha-shwepalaung",
"a-shan",
"e-mon",
"nga-mon",
"jha-mon",
"bba-mon",
"bbe-mon",
"nnyaGreat-mon",
"sha-sgawkaren",
"tha-westernpwokaren",
"pwa-westernpwokaren",
"nna-easternpwokaren",
"ywa-easternpwokaren",
"ghwa-easternpwokaren",
"ka-shan",
"kha-shan",
"ga-shan",
"ca-shan",
"za-shan",
"nya-shan",
"da-shan",
"na-shan",
"pha-shan",
"fa-shan",
"ba-shan",
"tha-shan",
"ha-shan",
"rumaipalaungfa-myanmar",
"ga-khamti",
"ca-khamti",
"cha-khamti",
"ja-khamti",
"jha-khamti",
"nya-khamti",
"tta-khamti",
"ttha-khamti",
"dda-khamti",
"ddha-khamti",
"dha-khamti",
"na-khamti",
"sa-khamti",
"ha-khamti",
"hha-khamti",
"fa-khamti",
"xa-khamti",
"za-khamti",
"ra-khamti",
"oay-khamti",
"qn-khamti",
"hm-khamti",
"ra-aiton",
"gha-shan",
"cha-shan",
"jha-shan",
"nna-shan",
"bha-shan",
"nya-tailaing",
"fa-tailaing",
"ga-tailaing",
"gha-tailaing",
"ja-tailaing",
"jha-tailaing",
"dda-tailaing",
"ddha-tailaing",
"nna-tailaing",
"lla-tailaing",
"da-tailaing",
"dha-tailaing",
"ba-tailaing",
"bha-tailaing",
"sha-shwepalaung",
"ka-myanmar.locl",
"ga-myanmar.locl",
"nga-myanmar.locl",
"ta-myanmar.locl",
"pa-myanmar.locl",
"ma-myanmar.locl",
"ya-myanmar.locl",
"la-myanmar.locl",
"a-shan.locl",
"ka-shan.locl",
"ca-shan.locl",
"tha-shan.locl",
"ga-khamti.locl",
"ca-khamti.locl",
"cha-khamti.locl",
"ja-khamti.locl",
"jha-khamti.locl",
"nya-khamti.locl",
"tta-khamti.locl",
"na-khamti.locl",
"sa-khamti.locl",
"fa-khamti.locl",
"ra-khamti.locl",
"qn-khamti.locl",
"hm-khamti.locl",
"ra_short-myanmar.narrow",
"ra-myanmar.short",
"ra-myanmar.straight",
"ra_haMedial_uuMark-myanmar",
"nya-myanmar.alt",
"nya-myanmar.narrow",
"nya-myanmar.short",
"nnya-myanmar.short",
"lla-myanmar.alt",
"na-myanmar.short",
"ttha-myanmar.alt",
"dda-myanmar.alt",
"u-myanmar.alt",
"bbe-mon.alt",
"aaTall_aiMark-myanmar",
"aaTall_anusvara-myanmar",
"aaTall_asat-myanmar",
"aaTall_asat-myanmar.wide",
"aaTall-myanmar.wide",
"raMedial_b0-myanmar",
"raMedial_t0-myanmar",
"raMedial_t0_b0-myanmar",
"raMedial_t0_w0-myanmar",
"raMedial_t1_b0-myanmar",
"raMedial_w0-myanmar",
"raMedial_b0-myanmar.semiwide",
"raMedial_b1-myanmar.semiwide",
"raMedial_t0-myanmar.semiwide",
"raMedial_t0_w0-myanmar.semiwide",
"raMedial_w0-myanmar.semiwide",
"raMedial_b1-myanmar.ultrawide",
"raMedial_t0-myanmar.ultrawide",
"raMedial_t0_w0-myanmar.ultrawide",
"raMedial_w0-myanmar.ultrawide",
"raMedial_b0-myanmar.wide",
"raMedial_b1-myanmar.wide",
"raMedial_t1-myanmar.wide",
"raMedial_t1_b0-myanmar.wide",
"raMedial_t1_b1-myanmar.wide",
"raMedial_t1_w0-myanmar.wide",
"raMedial_w0-myanmar.wide",
"raMedial_b1-myanmar.wider",
"raMedial_t0-myanmar.wider",
"raMedial_t0_w0-myanmar.wider",
"raMedial_w0-myanmar.wider",
"raMedial-myanmar.semiwide",
"raMedial-myanmar.ultrawide",
"raMedial-myanmar.wide",
"raMedial-myanmar.wider",
"tta-myanmar.alt",
"aa-myanmar.psts",
"lla_haMedial-myanmar",
"ha-shan_waMedial-myanmar-shan",
"ha-shan_waMedial-shan",
"tta_tta-myanmar",
"tta_ttha-myanmar",
"dda_dda-myanmar",
"dda_ddha-myanmar",
"nna_tta-myanmar",
"nna_ttha-myanmar",
"nna_dda-myanmar",
"ssa_tta-myanmar",
"ssa_ttha-myanmar",
"ssa_dda-myanmar",
"lla_lla-myanmar",
"reduplication-khamti",
"reduplicationMod-shan",
"virama_jha-myanmar",
"virama-myanmar_jha-mon",
"yaMedial-myanmar",
"yaMedial_waMedial-myanmar",
"yaMedial_waMedial_haMedial-myanmar",
"yaMedial_haMedial-myanmar",
"yaMedial-myanmar_waMedial-shan",
"yaMedial_short_ka-myanmar",
"yaMedial_short_kha-myanmar",
"yaMedial_short_ka-myanmar.blws",
"yaMedial_waMedial-myanmar.locl",
"yaMedial_waMedial_haMedial-myanmar.locl",
"yaMedial-myanmar.wide",
"zero.afrc_afrc-myanmar",
"one.afrc_afrc-myanmar",
"two.afrc_afrc-myanmar",
"three.afrc_afrc-myanmar",
"four.afrc_afrc-myanmar",
"five.afrc_afrc-myanmar",
"six.afrc_afrc-myanmar",
"seven.afrc_afrc-myanmar",
"eight.afrc_afrc-myanmar",
"nine.afrc_afrc-myanmar",
"zero-myanmar",
"one-myanmar",
"two-myanmar",
"three-myanmar",
"four-myanmar",
"five-myanmar",
"six-myanmar",
"seven-myanmar",
"eight-myanmar",
"nine-myanmar",
"zero-shan",
"one-shan",
"two-shan",
"three-shan",
"four-shan",
"five-shan",
"six-shan",
"seven-shan",
"eight-shan",
"nine-shan",
"zero-tailaing",
"one-tailaing",
"two-tailaing",
"three-tailaing",
"four-tailaing",
"five-tailaing",
"six-tailaing",
"seven-tailaing",
"eight-tailaing",
"nine-tailaing",
"zero-pao",
"one-pao",
"two-pao",
"three-pao",
"four-pao",
"five-pao",
"six-pao",
"seven-pao",
"eight-pao",
"nine-pao",
"zero-myanmar.afrc",
"one-myanmar.afrc",
"two-myanmar.afrc",
"three-myanmar.afrc",
"four-myanmar.afrc",
"five-myanmar.afrc",
"six-myanmar.afrc",
"seven-myanmar.afrc",
"eight-myanmar.afrc",
"nine-myanmar.afrc",
"zero-myanmar.sups",
"one-myanmar.sups",
"two-myanmar.sups",
"three-myanmar.sups",
"four-myanmar.sups",
"five-myanmar.sups",
"six-myanmar.sups",
"seven-myanmar.sups",
"eight-myanmar.sups",
"nine-myanmar.sups",
fraction,
"cwi-kayahli",
"littlesection-myanmar",
"section-myanmar",
"locative-myanmar",
"completed-myanmar",
"aforementioned-myanmar",
"genitive-myanmar",
slash,
"oneSymbol-shan",
"exclam-shan",
"exclam-aiton",
"oneSymbol-aiton",
"twoSymbol-aiton",
dottedCircle,
"ra_asat_virama-myanmar",
"ra_asat_virama_iMark-myanmar",
"ra_asat_virama_iiMark-myanmar",
"ra_asat_virama_asat-myanmar",
"iMark-myanmar",
"iMark_aiMark-myanmar",
"iMark_anusvara-myanmar",
"iiMark-myanmar",
"iiMark_anusvara-myanmar",
"uMark-myanmar",
"uuMark-myanmar",
"aiMark-myanmar",
"aiMark-myanmar_reduplication-khamti",
"iiMark-mon",
"oMark-mon",
"eabove-myanmar",
"anusvara-myanmar",
"dotbelow-myanmar",
"virama-myanmar",
"virama_ka-myanmar",
"virama_kha-myanmar",
"virama_ga-myanmar",
"virama_gha-myanmar",
"virama_nga-myanmar",
"virama_ca-myanmar",
"virama_cha-myanmar",
"virama_ja-myanmar",
"virama_nya-myanmar",
"virama_nnya-myanmar",
"virama_tta-myanmar",
"virama_ttha-myanmar",
"virama_dda-myanmar",
"virama_ddha-myanmar",
"virama_nna-myanmar",
"virama_ta-myanmar",
"virama_tha-myanmar",
"virama_da-myanmar",
"virama_dha-myanmar",
"virama_na-myanmar",
"virama_pa-myanmar",
"virama_pha-myanmar",
"virama_ba-myanmar",
"virama_bha-myanmar",
"virama_ma-myanmar",
"virama_ya-myanmar",
"virama_ra-myanmar",
"virama_la-myanmar",
"virama_sa-myanmar",
"virama_sha-myanmar",
"virama_ssa-myanmar",
"virama_ha-myanmar",
"virama_lla-myanmar",
"virama_a-myanmar",
"virama-myanmar_nga-mon",
"virama-myanmar_bba-mon",
"virama-myanmar_ka-shan",
"virama-myanmar_kha-shan",
"virama-myanmar_ca-shan",
"virama-myanmar_na-shan",
"virama-myanmar_pha-shan",
"asat-myanmar",
"asat_anusvara-myanmar",
"asat_asat-myanmar",
"asat-myanmar_reduplication-khamti",
"kinzi-myanmar",
"kinzi_iiMarkmon-myanmar",
"kinzi_iMark-myanmar",
"kinzi_iMark_anusvara-myanmar",
"kinzi_iiMark-myanmar",
"kinzi_iiMark_anusvara-myanmar",
"kinzi_aiMark-myanmar",
"kinzi_eabove-myanmar",
"kinzi_anusvara-myanmar",
"kinzi_asat-myanmar",
"waMedial-myanmar",
"waMedial_haMedial-myanmar",
"haMedial-myanmar",
"haMedial_uMark-myanmar",
"haMedial_uuMark-myanmar",
"haMedial_short-myanmar",
"lVocalicMark-myanmar",
"llVocalicMark-myanmar",
"naMedial-mon",
"maMedial-mon",
"laMedial-mon",
"i-gebakaren",
"oe-kayah",
"u-kayah",
"ee-kayah",
"waMedial-shan",
"eabove-shan",
"yfinal-shan",
"councilemphatictone-shan",
"aiMark-aiton",
"saw-shan",
"tone2-tailaing",
"dotbelow-myanmar.alt",
"virama_ka-myanmar.blws",
"virama_kha-myanmar.blws",
"virama_ga-myanmar.blws",
"virama_gha-myanmar.blws",
"virama_nga-myanmar.blws",
"virama_ca-myanmar.blws",
"virama_cha-myanmar.blws",
"virama_ja-myanmar.blws",
"virama_nya-myanmar.blws",
"virama_nnya-myanmar.blws",
"virama_tta-myanmar.blws",
"virama_ttha-myanmar.blws",
"virama_dda-myanmar.blws",
"virama_ddha-myanmar.blws",
"virama_nna-myanmar.blws",
"virama_ta-myanmar.blws",
"virama_tha-myanmar.blws",
"virama_da-myanmar.blws",
"virama_dha-myanmar.blws",
"virama_na-myanmar.blws",
"virama_pa-myanmar.blws",
"virama_pha-myanmar.blws",
"virama_ba-myanmar.blws",
"virama_bha-myanmar.blws",
"virama_ma-myanmar.blws",
"virama_ya-myanmar.blws",
"virama_ra-myanmar.blws",
"virama_la-myanmar.blws",
"virama_sa-myanmar.blws",
"virama_sha-myanmar.blws",
"virama_ssa-myanmar.blws",
"virama_ha-myanmar.blws",
"virama_lla-myanmar.blws",
"virama_a-myanmar.blws",
"virama-myanmar_nga-mon.blws",
"virama-myanmar_bba-mon.blws",
"virama-myanmar_ka-shan.blws",
"virama-myanmar_kha-shan.blws",
"virama-myanmar_ca-shan.blws",
"virama-myanmar_na-shan.blws",
"virama-myanmar_pha-shan.blws",
"waMedial-myanmar.blws",
"waMedial_haMedial-myanmar.blws",
"lVocalicMark-myanmar.blws",
"llVocalicMark-myanmar.blws",
"councilemphatictone-shan.blws",
"aiMark-myanmar.locl",
"dotbelow-myanmar.locl",
"waMedial-myanmar.locl",
"waMedial_haMedial-myanmar.locl",
"haMedial-myanmar.locl",
"haMedial_uMark-myanmar.locl",
"haMedial_uuMark-myanmar.locl",
"waMedial_haMedial-myanmar.short",
"waMedial-myanmar.small",
"waMedial-myanmar.smallalt",
"waMedial-myanmar.smallalt1",
"uMark_long-myanmar",
"uuMark_long-myanmar",
"rVocalicMark-myanmar",
"rrVocalicMark-myanmar",
"eu-sgawkaren",
"eu-sgawkaren_asat-myanmar",
"eu-sgawkaren_yfinal-shan",
"hathi-sgawkaren",
"hathi_asat-myanmar-sgawkaren",
"kepho-sgawkaren",
"eu-westernpwokaren",
"ue-westernpwokaren",
"tone1-westernpwokaren",
"tone2-westernpwokaren",
"tone3-westernpwokaren",
"tone4-westernpwokaren",
"tone5-westernpwokaren",
"aa-shan",
"aa-shan_dotbelow-myanmar",
"aa-shan_asat-myanmar",
"e-shan",
"tone2-shan",
"tone3-shan",
"tone5-shan",
"tone6-shan",
"counciltone2-shan",
"counciltone3-shan",
"rumaipalaungtone5-myanmar",
"tone1-khamti",
"tone3-khamti",
"a-aiton",
"tone-paokaren",
"tone5-tailaing",
"dotbelow-myanmar.alt1",
"dotbelow-myanmar.alt2",
"dotbelow-myanmar.alt3",
"dotbelow-myanmar.alt4"
)