(
quotedbl,
underscore,
space,
"koKai-thai",
"khoKhai-thai",
"khoKhuat-thai",
"khoKhwai-thai",
"khoKhon-thai",
"khoRakhang-thai",
"ngoNgu-thai",
"choChan-thai",
"choChing-thai",
"choChang-thai",
"soSo-thai",
"choChoe-thai",
"yoYing-thai",
"yoYing-thai.less",
"doChada-thai",
"doChada-thai.short",
"toPatak-thai",
"toPatak-thai.short",
"thoThan-thai",
"thoThan-thai.less",
"thoNangmontho-thai",
"thoPhuthao-thai",
"noNen-thai",
"doDek-thai",
"toTao-thai",
"thoThung-thai",
"thoThahan-thai",
"thoThong-thai",
"noNu-thai",
"boBaimai-thai",
"poPla-thai",
"phoPhung-thai",
"foFa-thai",
"phoPhan-thai",
"foFan-thai",
"phoSamphao-thai",
"moMa-thai",
"yoYak-thai",
"roRua-thai",
"ru-thai",
"ru_lakkhangyao-thai",
"loLing-thai",
"lu-thai",
"lu_lakkhangyao-thai",
"woWaen-thai",
"soSala-thai",
"soRusi-thai",
"soSua-thai",
"hoHip-thai",
"loChula-thai",
"loChula-thai.short",
"oAng-thai",
"hoNokhuk-thai",
"saraA-thai",
"saraAa-thai",
"saraAm-thai",
"saraE-thai",
"saraAe-thai",
"saraO-thai",
"saraAiMaimuan-thai",
"saraAiMaimalai-thai",
"lakkhangyao-thai",
"ngoNgu_underscore-thai",
"yoYing_underscore-thai",
"noNu_underscore-thai",
"moMa_underscore-thai",
"zero-thai",
"one-thai",
"two-thai",
"three-thai",
"four-thai",
"five-thai",
"six-thai",
"seven-thai",
"eight-thai",
"nine-thai",
"fongman_fannu-thai",
"angkhankhu-thai",
"fongman-thai",
"khomut-thai",
"maiyamok-thai",
"paiyannoi-thai",
dottedCircle,
"maiHanaKat-thai",
"maiHanaKat-thai.narrow",
"maiEk-thai",
"maiEk-thai.small",
"maiEk-thai.narrow",
"maiTho-thai",
"maiTho-thai.small",
"maiTho-thai.narrow",
"maiTri-thai",
"maiTri-thai.small",
"maiTri-thai.narrow",
"maiChattawa-thai",
"maiChattawa-thai.small",
"thanthakhat-thai",
"thanthakhat-thai.small",
"thanthakhat-thai.narrow",
"maitaikhu-thai",
"maitaikhu-thai.narrow",
"yamakkan-thai",
"saraI-thai",
"saraI-thai.narrow",
"saraIi-thai",
"saraIi-thai.narrow",
"saraUe-thai",
"saraUe-thai.narrow",
"saraUee-thai",
"saraUee-thai.narrow",
"nikhahit-thai",
"nikhahit_maiEk-thai",
"nikhahit_maiTho-thai",
"nikhahit_maiTri-thai",
"nikhahit_maiChattawa-thai",
"phinthu-thai",
"phinthu-thai.small",
"saraU-thai",
"saraU-thai.small",
"saraUu-thai",
"saraUu-thai.small",
"maiChattawa-thai.narrow",
"nikhahit-thai.narrow",
"nikhahit_maiEk-thai.narrow",
"nikhahit_maiTho-thai.narrow",
"nikhahit_maiTri-thai.narrow",
"nikhahit_maiChattawa-thai.narrow",
"maitaikhu-thai.small"
)